
@import url('https://fonts.googleapis.com/css2?family=Afacad:ital@0;1&family=Lato:wght@400;700&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #25232d;
    font-family: 'lato';
}

#navbar{
    margin: 1em auto;
    width: 80%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

#logo{
    display: flex;
    align-items: center;
    gap: 4px;
}
#logo img{
    width: 25px;
    height: 25px;
}
#nav-items{
    display: flex;
    width: 40%;
    justify-content: space-between;
    list-style: none;
    cursor: pointer;
    
}

.border{
    border: solid 2px transparent;
    padding: 10px;
}

.border:hover{
    border: solid 2px grey;
    /* padding: 5px; */
}